{% extends 'mayor_index.html' %}
{% block body %}

{#<body>#}
    <h1>MAYOR HOME</h1>
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table align="center" width="200" border="1">#}
{#    <tr>#}
{#      <td><p align="center"><a href="/view_profile">View Profile</a></p>#}
{#      <p align="center"><a href="/mc_interaction">Councillor Interaction</a></p>#}
{#      <p align="center"><a href="/view_notification"> View  Notification</a></p>#}
{#      <p align="center"><a href="/view_feedback">View Feedback</a></p>#}
{#      <p  align="center"><a href="/view_suggestion">View Suggestion</a></p>#}
{#      <p  align="center"><a href="/project_approve">Project & Policy Approval</a></p>#}
{#      <p  align="center"><a href="/view_issue">View issue send by Councillor</a></p>#}
{#      <p align="center"><a href="/view_complaint">View Complaint</a></p>#}
{#        <p align="center"><a href="/logout">Logout</a></p></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}

