{% extends 'clerk_index.html' %}
{% block body %}

{#<body>#}
    <h1>CLERK HOME</h1>
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table align="center" width="200" border="1">#}
{#    <tr>#}
{#      <td><p align="center"><a href="/clerk_profile">View Profile</a></p>#}
{#      <p align="center"><a href="/clerk_view_application">View Application</a></p>#}
{#      <p align="center"><a href="/clerk_view_application">Application Verification </a></p>#}
{#      <p  align="center"><a href="/send_user_notification">Send User Notification</a></p>#}
{#      <p  align="center"><a href="/send_report">Submit Report</a></p>#}
{#      <p  align="center"><a href="/view_assign_work">View Assign Work </a></p>#}
{#      <p  align="center"><a href="/logout">Logout</a></p></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
