{% extends 'clerk/clerkheader.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/send_user_notification1">
  <table align="center" >
    <tr>
      <th scope="row" align="left">Notification</th>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required class="form-control"></textarea></td>
    </tr>
    <tr>
        <th colspan="2" scope="row"><p align="center"> <input type="submit" name="button" id="button" value="Send" class="btn btn-primary"/></p></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
