{% extends 'Admin/adminheader.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/add_councillor">
  <table class="table table-striped" border="3">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Qualification</th>
       <th scope="col">Ward</th>
       <th scope="col"></th>
    </tr>
      {% for i in value %}

    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['c_name'] }} <br><img src="{{ i['photo'] }}" width="50" height="50"></td>
      <td>{{ i['age'] }}&nbsp;</td>
      <td>{{ i['gender'] }}</td>
      <td>Place:{{ i['place'] }}<br> Post:{{ i['post'] }} <br>Pin:{{ i['pin'] }} <br>District:{{ i['district'] }}</td>
      <td>{{ i['phone'] }}&nbsp;</td>
      <td>{{ i['email'] }}</td>
      <td>{{ i['qualification'] }}</td>
      <td>{{ i['ward'] }}</td>
{#      <td>&nbsp;</td>#}
      <td><p><a href="/edit_councillor/{{ i['co_id'] }}" >Edit</a></p>
      <p><a href="/delete_councillor/{{ i['L_id'] }}" onclick="return confirm('Are you want to delete?')">Delete</a></p></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="10"><p align="center">
        <input type="submit" name="button" id="button" value="ADD" class="btn btn-primary"/>
      </p></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
