{% extends 'Admin/adminheader.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped" border="1">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Year</th>
    </tr>
      {% for i in value %}

    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['M_name'] }}<br> <img src="{{ i['photo'] }}" width="50" height="50"/></td>
      <td>&nbsp;{{ i['age'] }}</td>
      <td>Place:{{ i['place'] }} <br>Post:{{ i['post'] }} <br>Pin:{{ i['pin'] }}<br> District:{{ i['district'] }}</td>
      <td>&nbsp;{{ i['phone'] }}</td>
      <td>&nbsp;{{ i['email'] }}</td>
      <td>&nbsp;{{ i['joining_date'] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
