{% extends 'councillor/councillorheader.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/add_project1">
  <table align="center" >
    <tr>
      <th scope="row">Project Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="project" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
        <th colspan="2"  scope="row"> <p align="center" ><input type="submit" name="button" id="button" value="Send" class="btn btn-primary" /></p></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
