{% extends 'councillor_index.html' %}
{% block body %}

<body>
    <h1>COUNCILLOR HOME</h1>
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table align="center" width="200" border="1">#}
{#    <tr>#}
{#      <td><p align="center"><a href="/councillor_profile">View Profile</a></p>#}
{#      <p align="center"><a href="/user_interaction">User Interaction</a></p>#}
{#      <p align="center"><a href="/councillor_feedback">View Feedback</a></p>#}
{#      <p align="center"><a href="/cc_interaction">Councillor Interaction</a></p>#}
{#      <p  align="center"><a href="/send_complaint">Send Complaint</a></p>#}
{#      <p  align="center"><a href="/c_view_reply">View Reply</a></p>#}
{#      <p  align="center"><a href="/add_project">Add Projects</a></p>#}
{#      <p align="center"><a href="/send_suggestion">Send Suggestion</a></p>#}
{#      <p align="center"><a href="/mayor_interaction">Mayor Interaction</a></p>#}
{#      <p align="center"><a href="/view_frequent_issues">View Frequent Issues</a></p>#}
{#      <p align="center"><a href="#">Report Frequent Issues</a></p>#}
{#      <p align="center"><a href="/assign_p_time">Assign Project TimePeriod</a></p>#}
{#      <p align="center"><a href="/logout">Logout</a></p></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
