{% extends 'Department/dept_header.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table align="center"  class="table table-striped" border="3">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Qualification</th>

    </tr>
      {% for i in value %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }}<br><img src="{{ i['photo'] }}" width="50" height="50"/></td>
      <td>&nbsp;{{ i['age'] }}</td>
      <td>&nbsp;{{ i['gender'] }}</td>
        <td>Place:{{ i['place'] }}<br> Post:{{ i['post'] }}<br> Pin:{{ i['pin'] }}<br> District:{{ i['district'] }}</td>
      <td>&nbsp;{{ i['phone'] }}</td>
      <td>&nbsp;{{ i['email'] }}</td>
      <td>&nbsp;{{ i['qualification'] }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
