
<html>
<head>
<title>Social Guide</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/static/images_ds/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/images_ds/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/images_ds/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/images_ds/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/images_ds/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/images_ds/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/images_ds/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/images_ds/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/images_ds/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/images_ds/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images_ds/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/images_ds/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images_ds/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/custom-responsive-style.css">
<script type="text/javascript" src="/static/scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/scripts/plugin-active.js"></script>
</head>
<body>
  <header>
{#    <div class="mobile-logo">#}
{#        ffhffh#}
{#    <a href=""><img src="/static/images_ds/ds-logo.png"></a>#}
{#  </div>#}
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
{#  <nav id="sidebar-wrapper">#}
{#    <ul class="sidebar-nav">#}
{#      <li class="sidebar-brand">#}
{#        <a class="smooth-scroll" href="/login"></a>#}
{#      </li>#}
{#      <li class="sidebar-nav-item">#}
{#        <a class="smooth-scroll" href="/login">LOGIN</a>#}
{#      </li>#}
{#    </ul>#}
{#  </nav>#}
  </header>

<section id="Banner">
  <div class="logo">
{#    <img src="images/ds-logo.png">#}
  </div>

  <div class="blacksection">
    <h1>SOCIAL<br>ISSUE<br>MINING</h1>
  </div>
</section>
<a href="/login" style="color: yellow" class="mscroll"><p align="top" size="100"></p>LOGIN</a>
 <div class="copyright">

</div>
</body>
</html>