
{% extends 'user_index.html' %}
{% block body %}

{#<body>#}
    <h1>USER HOME</h1>
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table align="center" width="200" border="1">#}
{#    <tr>#}
{#      <td><p><a href="/send_application">Send Application</a></p>#}
{#      <p><a href="/view_application_status"> Status of Application</a></p>#}
{#      <p><a href="/send_feedback"> Send Feedback</a></p>#}
{#      <p><a href="/user_councillor_interaction"> Interact with Councillor</a></p>#}
{#      <p><a href="/user_send_complaint"> Send Complaint</a></p>#}
{#      <p><a href="/view_complaint_reply"> View Reply</a></p>#}
{#      <p><a href="/rating_dept"> Rating Department</a></p>#}
{#      <p><a href="/diff_issues"> Adding Different Issues Faced</a></p>#}
{#      <p><a href="/user_view_notification"> View Notification</a></p>#}
{#      <p><a href="/logout">Logout</a></p></td>#}
{##}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
